<!-- ここからこっとコピペ-->
{% extends "base.html" %}
{% block content %}
    <div id="your_container">
      <!-- チャットの外側部分① -->
      <div id="bms_messages_container">
        <!-- ヘッダー部分② -->
        <div id="bms_chat_header">
          <!--ステータス-->
          <div id="bms_chat_user_status">
            <!--ステータスアイコン-->
            <div id="bms_status_icon">🐱</div>
            <!--ユーザー名-->
            <div id="bms_chat_user_name">{{tpl_room_name}}</div>
          </div>
        </div>

        <!-- タイムライン部分③ -->
        <div id="bms_messages" class="chatBox">
          <!--メッセージ１（左側）-->
          {% for chat in chat_list %}
          {% if tpl_my_id == chat["to"] %}
          <div class="bms_message bms_left chatMessage">
            <img
              src="http://2.bp.blogspot.com/-MrdX0JhwM9U/T65PZsmNS7I/AAAAAAAAAKM/SkTZHvBUMq8/s1600/1336023490071.png"
            />
            <div class="bms_message_box">
              <div class="bms_message_content">
                <div class="bms_message_text_left">{{chat["message"]}}</div>
              </div>
            </div>
          </div>
          <div class="bms_clear"></div>
          <!-- 回り込みを解除（スタイルはcssで充てる） -->

          <!--メッセージ２（右側）-->
          {% else %}
          <div class="bms_message bms_right">
            <div class="bms_message_box">
              <div class="bms_message_content">
                <div class="bms_message_text">{{chat["message"]}}</div>
              </div>
            </div>
          </div>
          <div class="bms_clear"></div>
          <!-- 回り込みを解除（スタイルはcssで充てる） -->

          {% endif %}
          {% endfor %}
        </div>

        <!-- テキストボックス、送信ボタン④ -->
        <form action="/chat/{{link_chatid}}" method="POST">
          <div id="bms_send">
            <!-- <textarea id="bms_send_message"></textarea>
            <div id="bms_send_btn">送信</div> -->
            <input type="text" name="input_message" placeholder="メッセージを送信" id="bms_send_message">
            <input type="submit" value="送信" id="bms_send_btn">
          </div>
        </form>
      </div>
    </div>

{% endblock %}