<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
    <title>宇宙猫chat</title>
    <link rel="stylesheet" href="../static/css/start.css">
    </head>
    <body>
        <div class="title">
            <li><h1>Space Space</h1></li> #タイトル
            <li><img src="../static/image/23192315.png" width="200px" height="200px"></li>
        </div>       
        
        <p><a href="/userlist" class="button">ここをクリック</a> #スタートボタン</p>

        <div class="explanation">
            <h2>猫と話せたらいいのになぁ</h2>
            <h3>癒しが欲しい...</h3>
            <h4>誰かと話したい...</h4>
            <br>
            <p>そんな貴方、ぜひ宇宙猫と話してみませんか？</p>
            <br>
            <p>上のボタンをおして、会話を楽しんでください</p>
        </div>
            
        </div>


    </body>
</html>